<% if flash[:info] %>
  <div class="flash-info round">
    <%= flash[:info] %>
  </div>
<% end %>
<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %> <br>
      <strong>email</strong>  <%= @user.email %> <br>
      <%= link_to "Modifier", edit_user_url(@user) %>

    </td>
  </tr>
</table>