<% if signed_in? %>
  <% if flash[:info] %>
    <div class="flash-info round">
      <%= flash[:info] %>
    </div>
  <% end %>
	<table class="front" summary="Pour visiteur identifié">
	    <tr>
	      <td class="main">
	        <h1 class="micropost">Quoi de neuf ?</h1>
	        <%= render 'shared/micropost_form' %>
          <% unless @feed.empty? %>
            <table class="microposts" summary="Micro-messages de l'utilisateur">
              <%= render partial: "microposts/micropost", collection: @feed %>
            </table>
            <%= paginate @feed %>
          <% end %>
        </td>
	      <td class="sidebar round">
	        <%= render 'shared/user_info' %>
	      </td>
	    </tr>
  </table>

<% else %>
	<h1>Sample App</h1>
	<p>
	  C'est la page d'accueil de l'Application Exemple du
	  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
	</p>
	<%= link_to "S'inscrire!", app_signup_path, :class => "signup_button round" %>
<% end %>