 <header>
 	<%= link_to logo, root_path %>
 	<nav class="round">
 		<ul>
 		<li><%= link_to "Accueil", app_home_path %></li>
 			<li><%= link_to "Aide", app_help_path %></li>
 			<li><%= link_to "Connexion", app_signin_path %></li>
 			<li><%= link_to "Inscription", app_signup_path %></li>
 		</ul>
 	</nav>
 </header>